[submodule "DasherCore"]
	path = DasherCore
	url = https://github.com/dasher-project/DasherCore
[submodule "Thirdparty/SDL2"]
	path = Thirdparty/SDL2
	url = https://github.com/libsdl-org/SDL.git
	branch = SDL2
